variables:
  GET_SOURCES_ATTEMPTS: "3"
  GIT_DEPTH: "0"

default:
  before_script:
  - export DEBIAN_FRONTEND=noninteractive
  - apt-get update -yq && apt-get install -y curl lsb-release file
  - export DISTRO_CODENAME=`lsb_release -cs` && echo Using distro $DISTRO_CODENAME
  - echo Using ROS_DISTRO $ROS_DISTRO
  - echo "deb http://apt.roboception.de/stable $DISTRO_CODENAME main" > /etc/apt/sources.list.d/roboception-stable.list
  - if [ "$TESTING_DEBS" = "true" ]; then echo "deb http://apt.roboception.de/testing $DISTRO_CODENAME main" > /etc/apt/sources.list.d/roboception-testing.list ; fi
  - curl http://apt.roboception.de/archive.key | apt-key add -
  - apt-get update -yq
  - apt-get install -y ros-${ROS_DISTRO}-rc-common-msgs rc-genicam-api
  - rosdep install --from-paths . --ignore-src -r -y
  - export CMAKE_PREFIX_PATH="/opt/ros/$ROS_DISTRO"

stages:
  - build
  - test_clients
  - upload

#########################
# Templates using anchors
#########################
.amd64_eloquent_t: &amd64_eloquent_job
  image: ros:foxy-ros-base-focal
  tags:
    - amd64
    - docker

.amd64_foxy_t: &amd64_foxy_job
  image: ros:foxy-ros-base-focal
  tags:
    - amd64
    - docker

#############
# Templates
#############
.build_driver:
  stage: build
  script:
    - mkdir build && cd build
    - cmake -DCMAKE_INSTALL_PREFIX="/opt/ros/$ROS_DISTRO" -DCMAKE_BUILD_TYPE=Release ..
    - make -j 4
    - CTEST_OUTPUT_ON_FAILURE=1 make test
    - make package
  artifacts:
    paths:
      - build/*.deb
    expire_in: 30 days

.build_driver_testing:
  extends:
    - .build_driver
  variables:
    TESTING_DEBS: "true"

.upload_deb:
  stage: upload
  image: registry.roboception.de/tools/docker_images:bionic-buildimage
  before_script:
     - export DISTRO_CODENAME=`lsb_release -cs` && echo Using distro $DISTRO_CODENAME
  script:
    - if [ -z "$APT_REPO" ]; then export APT_REPO=testing; fi
    - DEBS=$(find . -maxdepth 3 -name "*~${DISTRO_CODENAME}_*.deb")
    - upload_deb.sh $DISTRO_CODENAME-$APT_REPO $DEBS

.upload_deb_testing:
  extends:
    - .upload_deb
  variables:
    APT_REPO: "testing"
  only:
    - master
  except:
    - tags

.upload_deb_stable:
  extends:
    - .upload_deb
  variables:
    APT_REPO: "stable"
  only:
    - /^v?[0-9]+\.[0-9]+\.[0-9]+/
  except:
    - branches

##############
#### Jobs ####
##############

# Test (on every commit)
########################
driver:eloquent:amd64:
  <<: *amd64_eloquent_job
  extends: .build_driver_testing

driver:foxy:amd64:
  <<: *amd64_foxy_job
  extends: .build_driver_testing

driver_stable:eloquent:amd64:
  <<: *amd64_eloquent_job
  extends: .build_driver

driver_stable:foxy:amd64:
  <<: *amd64_foxy_job
  extends: .build_driver

# upload packages for master and tags
#####################################
upload_testing:bionic:
  extends: .upload_deb_testing
  dependencies:
    - driver:eloquent:amd64

upload_testing:focal:
  extends: .upload_deb_testing
  dependencies:
    - driver:foxy:amd64

upload_stable:bionic:
  extends: .upload_deb_stable
  dependencies:
    - driver_stable:eloquent:amd64

upload_stable:focal:
  extends: .upload_deb_stable
  dependencies:
    - driver_stable:foxy:amd64
